<header>
        <!-- NAVIGATION -->
        <div id="sticker-sticky-wrapper" class="sticky-wrapper" style="height: 112px;"><nav id="sticker" class="navbar navbar-default">
          <!-- CONTAINER -->
          <div class="container">
            <!-- NAVBAR HEADER -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="ion-android-menu"></span>
              </button>
              <!-- LOGO -->
              <a class="navbar-brand" href="index.html"><img class="img-responsive" alt="logo" src="https://res.cloudinary.com/ply/image/upload/v1485727886/logoDEQSA.png"></a> 
            </div>

            <!-- NAVBAR COLLAPSE -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav menu-inline navbar-right">
          
              </ul>
            </div>
            <!-- /.COLLAPSE -->
          </div>
          <!-- /.CONTAINER -->
        </nav></div><!-- /. NAVIGATION MENU -->
</header>