<!DOCTYPE html>
<html>
<head>
 <link rel="shortcut icon" href="https://res.cloudinary.com/ply/image/upload/v1485736656/favicon.png">
  <title>DEQSALAB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="navbar-text pull-right">

</p>
<%= yield %>

</body>
</html>
